#Ignore tilds:
*~
*.aux
*.toc
*.lof
*.lot
*.out
*.gz
*.pdf
*.log
*.vti
*.pvti
*.vtk
*.json
*.xlsx
*.jpg
*.jpeg
*.eps
*.tiff
#
build/*
boost_*/*
.vscode/*
vscode/*
boost/*
#
main
main.cpp
settings.json

